Selavy.image                                    = /mnt/data/emu/data/linmos/image.i.pilot10.cont.smooth.linmos.taylor.0.fits
Selavy.Weights.weightsImage                     = /mnt/data/emu/data/linmos/weights.i.pilot10.cont.smooth.linmos.taylor.0.fits

Selavy.logFile					                = /mnt/data/emu/log/selavy.log
Selavy.resultsFile                              = /mnt/data/emu/data/selvay/selavy-image.cont.taylor.0.txt
Selavy.votFile					                = /mnt/data/emu/data/selvay/results.pilot10.xml
Selavy.subimageAnnotationFile			        = /mnt/data/emu/data/selvay/selavy-SubimageLocations.ann
Selavy.nsubx                                    = 5
Selavy.nsuby                                    = 3
Selavy.overlapx                                 = 0
Selavy.overlapy                                 = 0
Selavy.imagetype                                = fits

Selavy.VariableThreshold                        = false
Selavy.VariableThreshold.boxSize                = 50
Selavy.VariableThreshold.imagetype              = fits
Selavy.VariableThreshold.reuse			        = false

Selavy.threshold				                = 0.001
Selavy.WeightScaling				            = true
Selavy.Weights					                = true
Selavy.Weights.weightsCutoff                    = 0.09
Selavy.spectralTermsFromTaylor                  = true
Selavy.findSpectralTerms                        = [true, false]
#Selavy.snrCut                                   = 5
Selavy.flagGrowth                               = false
Selavy.growthThreshold                          = 3

Selavy.Fitter.doFit                             = true
Selavy.Fitter.fitTypes                          = [full]
Selavy.Fitter.maxReducedChisq                   = 10.
Selavy.Fitter.imagetype                         = fits
Selavy.Fitter.numGaussFromGuess                 = true

Selavy.threshSpatial                            = 5
Selavy.minPix                                   = 3
Selavy.minVoxels                                = 3
Selavy.minChannels                              = 1
Selavy.sortingParam                             = -pflux